*{
    /* margin: 0px; */
    /* width: 0px; */
padding: 0px;
box-sizing: border-box;
}
.fun{
/* border: 2px solid #ff0000; */
width: fit-content;
background-color: rgb(96, 130, 221);
border-radius: 25px;


}
.txt{
    color: beige;
    /* border: 2px solid red; */
    text-align: center;
    padding-bottom: 20px;

}
a{
    list-style: none;
    text-decoration: none;
    color: black;
    background-color: azure;
    border-radius: 5px;
    /* padding-inline: 20px; */
    padding: 0px 20px;
    padding-top: 05px;
    padding-bottom: 05px;
    /* width: fit-content; */
}
.fun .img-sec img:hover{
    transform: scale(1.2);

}
.img-sec{
    overflow: hidden;
    /* border: 2px solid rgb(22, 22, 118); */
   width: fit-content;
    border-radius: 25px;    
    /* background-size: contain; */
}

.img-sec img{
    transition: 0.5s;
    width: 300px;
    height: 200px;
       border-radius: 25px 25px 0px 0px;
       /* height: 100%;      */
       /* border: 2px solid red; */
    /* background-size: cover; */
}
.main{
    display: flex;
    gap: 30px;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
}